body {
	background-color:#cfc0ef
}

h1 {
	color:#6503ff
}

.center.vorder {
	color:blue;
	margin: auto;
	margin-bottom: 200px;
}

.center.vorder td {
	border: 2px groove blue;
}

.left {
	float: left;
	color: #f0f;
	padding-top: 30px;
	font-weight: bold;
}

.haupttext {
	position: relative;
	margin-left: 180px;
	z-index: 3;
}

.haupttext + div {
	position: absolute;
	left: 400px;
	top: 380px;
	font-size: 120pt;
	width: 600px;
	color: #e0cc82;
	z-index: 2;
	font-weight: bold;
	font-family: Arial;
}

.haupttext + div + div {
	position: absolute;
	left: 390px;
	top: 390px;
	font-size: 120pt;
	width: 600px;
	color: #cd66bf;
	z-index: 1;
	font-weight: bold;
	font-family: Arial;
}