%p
	This is a little Presentation Page for the 
	%b glorious	WikiMap-Project!
%p
	You may try the functionality of this Program in your
	Browser, all you need is 
	%b javascript enabled. 
	And a
	%b real Browser,
	not stuff like the "Internet Explorer".
%p
	If you want to get the Desktop-App of this, just download
	the *.shy archieve from this page. Remember that you need
	the fabulous 
	%a{href:"http://shoesrb.com/",target:'_blank'} Shoes
	framework for this Program to run, but
	this is not a big deal as you may see. Same sort of stuff
	like M$ .NET or Adobe Air or Java VM.
%p 
	%u Additional Features of the Desktop-App: 
	%ul
		%li  
			%em Draw Real Mindmaps, not just Clouds!
		%li 
			%em Save your Mindmaps as PNG!
		%li 
			%em Re-Use collected data if you're offline!