!!! 5
%html
	%head
		%title WikiMap 1.0
		%link{type:"text/css",href:"css/start/jquery-ui.css",rel:"stylesheet"}
		%link{type:"text/css",href:"css/jcloud.css",rel:"stylesheet"}
		%link{type:"text/css",href:"styles.css",rel:"stylesheet"}
		%script{type:"text/javascript",src:"js/jquery.js"}
		%script{type:"text/javascript",src:"js/jquery-ui.js"}
		%script{type:"text/javascript",src:"js/jcloud.js"}
		%script{type:"text/javascript",src:"main.js"}
	%body
		#content
			#header.ui-corner-top
				#header_left.ui-corner-right
					%small
						%button{onclick:"show_abouts()"} further informations
				#header_center
					%h1 WikiMap 1.0
				#header_right.ui-corner-left
					%small
						%button{onclick:"get_file()"} download for Desktop
				#header_clear
			#content_bg.ui-corner-bottom
				#titlebar.ui-corner-all
					%small
						%button{onclick:"get_randoms()"} Random Pages!
					or search: 
					%input#search{type:"text",size:50, style:"line-height:20px"}
					%small
						%button{onclick:"wiki_ask()"} Search this!
				#contentbox
					#options_list.ui-corner-all
						&nbsp;
					#mindmap.ui-corner-all
						höhö
		#about_box{title:"abouts"} &nbspp;