!!! 5
%html
	%head
		%title WikiMap 1.0
		%link{type:"text/css",href:"styles.css",rel:"stylesheet"}
		%link{type:"text/css",href:"css/start/jquery-ui.css",rel:"stylesheet"}
		%script{type:"text/javascript",src:"js/jquery.js"}
		%script{type:"text/javascript",src:"js/jquery-ui.js"}
		%script{type:"text/javascript",src:"main.js"}
	%body
		#titlebar
			%input#search{type:"text"}
			%button{onclick:"wiki_ask()"} Search this!
		#statusbar
			progress stuff here!
		#contentbox
			#options_list
				rjkghfsoad
			#mindmap
				eiufdshjl
			#clearfloat
				&nbsp;